
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    width: 800px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    
}
.item {
    border-bottom: 1px solid #ddd;
}
.td {
    background: #f8f9fa;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.td2 {
    background: #d0e1ff;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nd2{
    display: block;
    padding: 15px;
    font-size: 20px;
}


span{
    color:rgb(210, 20, 96);
}