body
{
    margin: 1vh 1vw;
    position: relative;
}
header
{
    height: 30vh;
    background-color: #9D1F6C;
}
.flex
{
    display: flex;
    justify-content: space-between;
}
.box1 p
{
    width: 23vw;
    height: 15vh;
    background-color: #D04B8D;
}
.box2 p
{
    width: 48vw;
    height: 30vh;
    background-color: #D679AF;
}
footer
{
    height: 15vh;
    background-color: #E79CCC;
}


@media screen and (max-width: 1000px)
{
    .flex
    {
        flex-wrap: wrap;
    }
    .box1 p
    {
        width: 47vw;
    }
    .box2 p
    {
        width: 100vw;
    }
   
}
@media screen and (max-width: 768px)
{
    .flex
    {
        flex-direction: column;
    }
    .box1 p,
    .box2 p
    {
        width: 100vw;
    }
    
}