*{
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    margin: 50px;
    padding: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #c7d0d0;
    transform: rotate(45deg);
}

h1{
    color: #3C4448;
    border-bottom: 3px solid tomato;
    width: 190px;
    margin: 40px;
}

td, tr{
    display: flex;
}

h3{
    color: #3C4448;
    margin-top: 30px ;
}


p{
    width: 300px;
    color: #8c8d8d;
    margin-top: 30px;
}



#kc{
    position: absolute;
    top: 200px;
    left: 87px;
    font-size: 50px;
    color: tomato;
}
#plane{
    position: absolute;
    top: 200px;
    left: 590px;
    font-size: 50px;
    color: tomato;
}
#rocket{
    position: absolute;
    top: 405px;
    left: 87px;
    font-size: 50px;
    color: tomato;
}
#chart{
    position: absolute;
    top: 400px;
    left: 590px;
    font-size: 50px;
    color: tomato;
    transform: rotate(270deg);
}

    